# -----------------------
# 1. Miscellaneous 
# -----------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.history/

# -----------------------
# 2. Windows OS 
# -----------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# -----------------------
# 3. Visual Studio Code 
# -----------------------
.vscode/

# -----------------------
# 4. IntelliJ / Android Studio
# -----------------------
*.iml
.idea/

# -----------------------
# 5. Dart & Flutter 
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# -----------------------
# 6. Android
# -----------------------
android/gradlew
android/gradlew.bat
android/local.properties
android/kotlin/
android/**/generated/
android/**/gradle-wrapper.jar
.gradle/
android/.gradle/
android/app/build/
android/app/releases/
android/app/google-services.json

# 키스토어 파일
android/**/*.jks
android/**/*.keystore
android/key.properties

# -----------------------
# 7. iOS 
# -----------------------
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# CocoaPods
ios/Pods/

# -----------------------
# 8. Web 
# -----------------------
lib/generated_plugin_registrant.dart

# -----------------------
# 9. Windows Desktop 
# -----------------------
windows/flutter/ephemeral/

# -----------------------
# 10. Mac Desktop
# -----------------------
macos/Flutter/ephemeral/

# -----------------------
# 11. Linux Desktop
# -----------------------
linux/flutter/ephemeral/

# -----------------------
# 12. Environment Variables & Secrets
# -----------------------
.env
.env.*
! .env.example